.container {
  padding: 2vh;
}
.label-header {
  font-weight: bold;
  font-size: medium;
}
.label-value {
  font-size: medium;
  color: gray;
}
.actor-item {
  height: 36px;
}
.genres-divider {
  padding-bottom: 1vh;
}
.section {
  padding-bottom: 2vh;
}
.floating-button {
  position: fixed;
  bottom: 35px;
  right: 100px;
  background-color: #4f6a40;
}
.floating-button-remove {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color: rgb(165, 37, 37);
}
