<div
  *ngIf="movie$ | async as movie"
  class="container"
  fxLayout="row"
  fxLayoutAlign="space-around"
  fxLayout.sm="column"
  fxLayoutAlign.sm="top center"
  fxLayout.lt-sm="column"
  fxLayoutAlign.lt-sm="top center"
>
  <div
    fxFlex.xl="0 0 20"
    fxFlex.lg="0 0 35"
    fxFlex.md="0 0 50"
    fxFlex.sm="0 0 80"
    fxFlex="0 0 100"
  >
    <img
      onerror="this.src='assets/img/default-placeholder.png'"
      [src]="movie.poster ? movie.poster : 'assets/img/default-placeholder.png'"
    />
  </div>
  <div
    fxFlex.xl="0 0 20"
    fxFlex.lg="0 0 35"
    fxFlex.md="0 0 50"
    fxFlex.sm="0 0 80"
    fxFlex="0 0 100"
    fxLayout="column"
    class="section"
  >
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="column">
        <p class="label-header">{{ 'rate' | translate }}</p>
        <p class="label-value">{{ movie.imdbRating }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center end">
        <p class="label-header">{{ 'duration' | translate }}</p>
        <p class="label-value">{{ movie.duration | minToHours }}</p>
      </div>
    </div>

    <p class="label-header">{{ 'actors' | translate }}</p>
    <mat-divider></mat-divider>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="loadActors$ | async"
    ></mat-progress-bar>
    <mat-list class="section" *ngIf="!(loadActors$ | async)">
      <mat-list-item
        class="actor-item label-value"
        *ngFor="let actor of actors$ | async"
      >
        {{ actor.first_name }} {{ actor.last_name }}
      </mat-list-item>
    </mat-list>
    <div class="section">
      <p class="label-header">{{ 'company' | translate }}</p>
      <mat-divider></mat-divider>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="loadCompany$ | async"
      ></mat-progress-bar>
      <mat-list *ngIf="!(loadCompany$ | async)">
        <mat-list-item class="actor-item label-value">{{
          (company$ | async)?.name
        }}</mat-list-item>
      </mat-list>
    </div>
    <div class="section">
      <p class="label-header">{{ 'genres' | translate }}</p>
      <mat-divider class="genres-divider"></mat-divider>
      <mat-chip-list>
        <mat-chip *ngFor="let genre of movie.genre"
          >#{{ genre | lowercase }}</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>
  <button
    mat-fab
    *ngIf="!(loadCompany$ | async) && !(loadActors$ | async)"
    class="floating-button"
    (click)="edit()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-fab
    *ngIf="!(loadCompany$ | async) && !(loadActors$ | async)"
    class="floating-button-remove"
    (click)="remove()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
