.container {
  padding: 2vh;
}
.label-header {
  font-weight: bold;
  font-size: medium;
}
.label-value {
  font-size: medium;
  color: gray;
}
.actor-item {
  height: 36px;
}
.genres-divider {
  padding-bottom: 1vh;
}
.section {
  padding-bottom: 2vh;
}
