<div class="container" fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="100">
    <form
      [formGroup]="movieForm"
      *ngIf="movieForm"
      fxFlex="100"
      fxLayout="column"
    >
      <mat-form-field appearance="fill">
        <mat-label>{{ 'title' | translate }}</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'poster' | translate }} (url)</mat-label>
        <input formControlName="poster" matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'genres' | translate }}</mat-label>
        <input
          matInput
          #inputGenre
          id="inputGenre"
          (keypress)="addGenre($event)"
        />
        <mat-chip-list formControlName="genre">
          <mat-chip
            *ngFor="let genre of movieForm.get('genre')!!.value"
            (removed)="remove(genre)"
            >#{{ genre | lowercase
            }}<button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button></mat-chip
          >
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'actors' | translate }}</mat-label>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="(actorState$ | async)?.loading"
        ></mat-progress-bar>
        <mat-select [multiple]="true" required formControlName="actors">
          <mat-option
            *ngFor="let actor of (actorState$ | async)?.actors"
            [value]="actor.id"
          >
            {{ actor.first_name }} {{ actor.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'company' | translate }}</mat-label>
        <mat-progress-bar
          *ngIf="(companyState$ | async)?.loading"
          mode="indeterminate"
        ></mat-progress-bar>
        <mat-select formControlName="company" required>
          <mat-option
            *ngFor="let company of (companyState$ | async)?.companies"
            [value]="company.id"
          >
            {{ company.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'year' | translate }}</mat-label>
        <input formControlName="year" matInput type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'duration' | translate }}</mat-label>
        <input formControlName="duration" matInput type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'rate' | translate }}</mat-label>
        <input formControlName="imdbRating" matInput type="number" />
      </mat-form-field>
    </form>
  </div>
  <div fxFlex="100" fxLayoutAlign="end">
    <button
      mat-raised-button
      color="primary"
      (click)="saveMovie()"
      [disabled]="movieForm.invalid"
    >
      {{ 'save' | translate }}
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
